@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #12131a;
}
.footer-col {
    width: 25%;
}

.nav-item .inner{
    color: white;
    font-size: 1rem;
    position: relative;
}

.nav-item:hover .inner::after {
    content: '';
    height: 1px;
    background-color: #ff3c78;
    position: absolute;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: .4s;
}

.nav-item .inner:hover::after {
    width: 100%;
}